/* This is used to import the font we are going to use */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* Universal Code For Every Page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffaae3;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500; 
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #b133b1;
}


/* All of this code is for the Home Page */

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background: url('ariana_home.jpg') no-repeat; 
  background-size: cover;
  background-position: center;
}

.home-content {
  max-width: 600px; 
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffaae3;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #b133b1;
}

.home-content h3::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffaae3;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffaae3;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffaae3;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  border: 2px solid #b133b1;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover {
  color: #b133b1;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #b133b1;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #b133b1;
}

.btn-box a:nth-child(1) {
  background: transparent;
  color: #b133b1;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0; 
  height: 100%;
  background: black;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex; 
  justify-content: space-between;
}

.home-sci::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffaae3;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #b133b1;
  border-radius: 50%;
  font-size: 20px;
  color: #b133b1;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: #081b29
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #b133b1;
  z-index: -1;
  transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0px;
  width: 950px;
  height: 100%;
  background: transparent;
  transition: 3s;
  animation: manipActiveHoever .1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.home-imgHover:hover {
  background: #ffaae3;  
  opacity: .8;
}

.home-imgHover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffaae3;
  animation: showRight 1s ease forwards;
  animation-delay: 3s;
  z-index: 100;
}

/* All of this code is for my About Page */

.about {
  background: url('pink_background.jpg') no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background-size: cover;
  background-position: center;
}

.about-content h1 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.about-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.about_killua {
  border: 5px solid #0dbce8;
  margin: 10px;
}


/* All of this code is for my Services Page */

.services {
  background: url('pink_background.jpg') no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background-size: cover;
  background-position: center;
}

.services-content h1 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.services-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.content-list {
  margin: 10px 5%;
}


/* All of this code is for my Portfolio Page */

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('pink_background.jpg');
  padding: 20px;
}

.portfolio_gon {
  text-align: center;
}

.portfolio_gon h1 {
  font-size: 2.5rem; /* Adjust the font size as needed */
  margin-bottom: 20px;
  margin-top: 75px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px; /* Adjust as needed */
  margin: 0 auto; /* Center the videos horizontally */
}

.videos video {
  margin: 10px;
  max-width: 100%;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* All of this code is for my Contact Page */

.container {
  width: 100%;
  height: 100vh;
  background: #ffaae3;
  display: flex; 
  align-items: center;
  justify-content: center;
}

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: #ae9f9f;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 10px;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: #e76772;
  color: #fff;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: none;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}


/* KEYFRAMES ANIMATION */

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}


/* Media Queries for Different Devices */

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
}

@media screen and (max-width: 650px) {
  .about {
    background: url('pink_background.jpg') no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-size: cover;
    background-position: center;
  }
  
  .about-content h1 {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .about-content p {
    position: relative;
    font-size: 14px;
    margin: 20px 0 40px;
  }
  
  .about_killua {
    border: 5px solid #0dbce8;
    margin: 10px;
    width: 250px;
  }
}

@media screen and (max-width: 550px) {
  .about {
    background: url('pink_background.jpg') no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-size: cover;
    background-position: center;
  }
  
  .about-content h1 {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .about-content p {
    position: relative;
    font-size: 10px;
    margin: 20px 0 40px;
  }
  
  .about_killua {
    border: 5px solid #0dbce8;
    margin: 10px;
    width: 200px;
  }

  .home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url('ariana_home.jpg') no-repeat; 
    background-size: cover;
    background-position: center;
  }
  
  .home-content {
    max-width: 600px; 
  }
  
  .home-content h1 {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
  }
  
  .home-content h3 {
    position: relative;
    font-size: 27px;
    font-weight: 700;
    color: #b133b1;
  }
  
  .home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
  }
  
  .home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
  }
  
  .home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
  }
  
  .home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 315px;
    height: 50px;
  }
  
  .home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
  }
  
  .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border: 2px solid #b133b1;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  
  .btn-box a:hover {
    color: #b133b1;
  }
  
  .btn-box a:nth-child(2) {
    background: transparent;
    color: #b133b1;
  }
  
  .btn-box a:nth-child(2):hover {
    color: #081b29;
  }
  
  .btn-box a:nth-child(2)::before {
    background: #b133b1;
  }
  
  .btn-box a:nth-child(1) {
    background: transparent;
    color: #b133b1;
  }
  
  .btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
  }
  
  .btn-box a:hover::before {
    width: 100%;
  }
  
  .home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex; 
    justify-content: space-between;
  }
  
  .home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
  }
  
  .home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #b133b1;
    border-radius: 50%;
    font-size: 20px;
    color: #b133b1;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  
  .home-sci a:hover {
    color: #081b29
  }
  
  .home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b133b1;
    z-index: -1;
    transition: .5s;
  }
  
  .home-sci a:hover::before {
    width: 100%;
  }
  
  .home-imgHover {
    position: absolute;
    top: 0;
    right: 0px;
    width: 950px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHoever .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
  }
  
  .home-imgHover:hover {
    background: #ffaae3;  
    opacity: .8;
  }
  
  .home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
  }
}

@media screen and (max-width: 400px) {
  .home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url('ariana_home.jpg') no-repeat; 
    background-size: cover;
    background-position: center;
  }
  
  .home-content {
    max-width: 600px; 
  }
  
  .home-content h1 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
  }
  
  .home-content h3 {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    color: #b133b1;
  }
  
  .home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
  }
  
  .home-content p {
    position: relative;
    font-size: 14px;
    margin: 20px 0 40px;
  }
  
  .home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
  }
  
  .home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 50px;
  }
  
  .home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
  }
  
  .btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border: 2px solid #b133b1;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  
  .btn-box a:hover {
    color: #b133b1;
  }
  
  .btn-box a:nth-child(2) {
    background: transparent;
    color: #b133b1;
  }
  
  .btn-box a:nth-child(2):hover {
    color: #081b29;
  }
  
  .btn-box a:nth-child(2)::before {
    background: #b133b1;
  }
  
  .btn-box a:nth-child(1) {
    background: transparent;
    color: #b133b1;
  }
  
  .btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
  }
  
  .btn-box a:hover::before {
    width: 100%;
  }
  
  .home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex; 
    justify-content: space-between;
  }
  
  .home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
  }
  
  .home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #b133b1;
    border-radius: 50%;
    font-size: 20px;
    color: #b133b1;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
  
  .home-sci a:hover {
    color: #081b29
  }
  
  .home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b133b1;
    z-index: -1;
    transition: .5s;
  }
  
  .home-sci a:hover::before {
    width: 100%;
  }
  
  .home-imgHover {
    position: absolute;
    top: 0;
    right: 0px;
    width: 950px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHoever .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
  }
  
  .home-imgHover:hover {
    background: #ffaae3;  
    opacity: .8;
  }
  
  .home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffaae3;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
  }

  .about {
    background: url('pink_background.jpg') no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-size: cover;
    background-position: center;
  }
  
  .about-content h1 {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .about-content p {
    position: relative;
    font-size: 10px;
    margin: 20px 0 40px;
  }
  
  .about_killua {
    border: 5px solid #0dbce8;
    margin: 10px;
    width: 175px;
  }

  .services {
    background: url('pink_background.jpg') no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-size: cover;
    background-position: center;
  }
  
  .services-content h1 {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
  }
  
  .services-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
  }
  
  .content-list {
    margin: 10px 5%;
    font-size: 13px;
  }

  .container {
    width: 100%;
    height: 100vh;
    background: #ffaae3;
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    height: 65%;
  }
  
  form h3 {
    color: #ae9f9f;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  form input, form textarea {
    border: 0;
    margin: 8px 0;
    padding: 15px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
  }
  
  form button {
    padding: 10px;
    background: #e76772;
    color: #fff;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    outline: none;
    width: 150px;
    margin: 5px auto 0;
    border-radius: 30px;
  }
}
